{% extends "./layout.html" %} {% block content %}
<h3>All Orders Available</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Company Name</th>
      <th>Product Name</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Bill Amout</th>
      <th>Running Total</th>
      <th>Running Order Total</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders%} {% if order.OrderID %}
    <tr>
      {% comment "name of columns in database" %}{% endcomment %}
      <td>{{order.OrderID}}</td>
      <td>{{order.OrderDate}}</td>
      <td>{{order.CompanyName}}</td>
      <td>{{order.ProductName}}</td>
      <td>{{order.UnitPrice}}</td>
      <td>{{order.Quantity}}</td>
      <td>{{order.BillAmount}}</td>
      <td>{{order.RunningTotal}}</td>
      <td>{{order.RunningOrderTotal}}</td>
    </tr>
    {% else %}
    <tr>
      <td colspan="5"></td>
      <td class="fw-bolder">Sub Total:</td>
      <td class="fw-bolder">{{order.RunningTotal}}</td>
      <td colspan="2"></td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
  <tfoot>
    <tr class="table-dark">
      {% comment "name of columns in database" %}{% endcomment %}
      <td colspan="7"></td>
      <td class="fw-bolder">Grand Total :</td>
      <td>{{grandTotal}}</td>
    </tr>
  </tfoot>
</table>
{% if counts %}
<h3>Total Number of Order:{{counts}}</h3>
{% endif %} {% endblock content %}
